<div class ="flex gap-1 mx-4 pt-2">
  @for (type of types; track type ) {
    @if (transformType() == type) {
      <button class="border p-1 font-bold" (click)="onTransformType(type)">{{type}}</button>
    } @else {
      <button class="border p-1" (click)="onTransformType(type)">{{type}}</button>
    }
  }
</div>

<div class="flex p-4 gap-4">
  <div>
    <div #pixiContainer id="pixi-container" class="w-[400px] h-[400px] bg-gray-200"></div>
    <div>Canvas Drawing</div>
  </div>

  <div>
    <!--  https://franklinta.com/2014/09/08/computing-css-matrix3d-transforms/  -->
    <div class="w-[400px] h-[400px] overflow-clip bg-gray-300">

      <div class="w-[400px] h-[400px] bg-gradient-to-br from-blue-700 to-fuchsia-500 text-white" [ngStyle]="{
         'position': 'relative',
         'transform-origin': '0 0',
         'transform': cssTransformMatrix3d()
       }"
      >
        <div class="font-bold text-7xl flex flex-col gap-4 p-4 h-full">
          <div>CSS</div>
          <div>transform:</div>
          <div>matrix3d</div>
          <div>👍</div>
        </div>
      </div>

    </div>
    <div>CSS: transform: matrix3d(...)</div>
  </div>

  <div>
    @if (transformType() === "perspective" ) {
      <div class="w-[400px] h-[400px] overflow-clip bg-gray-300 p-8 font-bold text-xl text-gray-500">
        Type "perpective" not supported with svg tranform
      </div>
    } @else {

      <svg  width="400" height="400" viewBox="0 0 400 400" xmlns="http://www.w3.org/2000/svg">
        <rect x="0" y="0" width="400" height="400" fill="#d1d5db" />
        <!-- using svg spec [attr.transform]="matrix3d()" -->
        <!-- works in firefox [ngStyle]="{'transform': matrix3d() }"-->
        <g [attr.transform]="svgTransformMatrix()">
          <rect x="0" y="0" width="400" height="400" fill="#C22"/>
          <circle r="10" cx="200" cy="25" stroke="white" stroke-width="4" fill="white" />
          <circle r="10" cx="375" cy="200" stroke="white" stroke-width="4" fill="transparent" />
          <circle r="10" cx="200" cy="375" stroke="white" stroke-width="4" fill="transparent" />
          <circle r="10" cx="25" cy="200" stroke="white" stroke-width="4" fill="transparent" />
          <path d="M 150 150 L 250 150 L 250 250 L 150 250 Z" fill="none" stroke="white" stroke-width="4" />
          <path d="M 100 100 L 300 100 L 300 300 L 100 300 Z" fill="none" stroke="white" stroke-width="4" />
          <path d="M 50 50 L 350 50 L 350 350 L 50 350 Z" fill="none" stroke="white" stroke-width="4" />
        </g>
      </svg>

    }
    <div>SVG: transform="matrix(...)"</div>
  </div>


</div>

<div class="flex p-2">

  <div>
    <div class="text-xl">Reference Points</div>

    <div class="flex p-4 gap-2">
      <form [formGroup]="srcPointsForm" >
        <div class="flex flex-col gap-1">

          @for (point of srcPoints(); track $index) {
            <div class="flex flex-row gap-1">
              <input class="w-14 border border-gray-200 p-0.5"
                     value="{{ point.x }}"
                     id="p{{$index+1}}x" type="number" formControlName="p{{$index+1}}x"
              >
              <input class="w-14 border border-gray-200 p-0.5"
                     value="{{ point.y }}"
                     id="p{{$index+1}}y" type="number" formControlName="p{{$index+1}}y"
              >
            </div>
          }
          <div class="flex flex-row gap-1">
            <button type="button" (click)="initSrcPoints(transformType())" class="border w-14 p-1">Reset</button>
          </div>
        </div>

      </form>
      <div class="p-4 text-2xl"> → </div>
      <div class="flex flex-col gap-1">
        @for (d of destPoints(); track $index) {
          <div class="flex flex-row gap-1">
            <div class="w-14 border border-white p-0.5">{{ d.x }}</div>
            <div class="w-14 border border-white p-0.5">{{ d.y }}</div>
          </div>
        }
        <div></div>
      </div>
    </div>
  </div>

  <div>

    <div>

      <div class="text-xl">Projection Matrix</div>

      <div class="p-4 grid grid-cols-3 grid-rows-3 gap-1 w-[30rem]">
        <div>{{ transform().a | number:'1.10' }}</div>
        <div>{{ transform().b | number:'1.10' }}</div>
        <div>{{ transform().c | number:'1.10' }}</div>

        <div>{{ transform().d | number:'1.10' }}</div>
        <div>{{ transform().e | number:'1.10' }}</div>
        <div>{{ transform().f | number:'1.10' }}</div>

        <div>{{ transform().g | number:'1.10' }}</div>
        <div>{{ transform().h | number:'1.10' }}</div>
        <div>{{ 1 | number:'1.10' }}</div>
      </div>

    </div>

  </div>

</div>





