
<form [formGroup]="pointsForm" class="flex flex-col gap-1">
  @for (_ of points(); track $index) {
    <div class="flex flex-row gap-1">
      <input class="w-14 border border-gray-200 p-0.5"
             id="x{{$index+1}}" type="number" formControlName="x{{$index+1}}"
      >
      <input class="w-14 border border-gray-200 p-0.5"
             id="y{{$index+1}}" type="number" formControlName="y{{$index+1}}"
      >
    </div>
  }
  <button type="button" (click)="onReset()" class="border w-14 p-1">Reset</button>
</form>
