<div>
  <div class="text-xl">Projection Matrix</div>
  <div class="py-2 grid grid-cols-3 grid-rows-3 gap-1 w-[30rem]">
    <div>{{ transform().a | number:'1.10' }}</div>
    <div>{{ transform().b | number:'1.10' }}</div>
    <div>{{ transform().c | number:'1.10' }}</div>
    <div>{{ transform().d | number:'1.10' }}</div>
    <div>{{ transform().e | number:'1.10' }}</div>
    <div>{{ transform().f | number:'1.10' }}</div>
    <div>{{ transform().g | number:'1.10' }}</div>
    <div>{{ transform().h | number:'1.10' }}</div>
    <div>{{ 1 | number:'1.10' }}</div>
  </div>
</div>
